:root{
    --wa-dark-gray: #111b21;
    --wa-mid-gray: #202c33;
    --wa-light-gray: #2a3942;
    --wa-icon-gray: #8696a0;
    --wa-green: #00a884;
    --wa-chat-green: #005c4b;
    --wa-blue: #53bdeb;
    --wa-light-bg: #d2d9d7;
    --wa-white: #ffffff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.debug{
    border: 1px solid red;
}
body{
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    color: var(--wa-white);
}
#app{
    width: 100%;
    height: 100vh;
    background-image: 
    linear-gradient(180deg, var(--wa-green) 15%, var(--wa-light-bg) 15%);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.wrapper{
    max-width: 1440px;
    height: 90%;
    width: 80%;
    background-color: var(--wa-mid-gray);
    display: flex;
    position: relative;
    box-shadow: 0 0 12px 0 var(--wa-light-gray);
}
i{
    color: var(--wa-icon-gray);
    font-size: 22px;
    margin-left: 30px;
}
/* SIDEBAR */
#sidebar-contacts{
    height: 100%;
    width: 35%;
    min-width: 300px;
    position: relative;
    border-right: 1px solid var(--wa-light-gray);
}
.my-account{
    width: 100%;
    height: 80px;;
    background-color: var(--wa-mid-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.avatar img{
    width: 100%;
}
.user-name{
    font-size: 20px;
}
.notice{
    background-color: var(--wa-blue);
    width: 100%;
    height: 90px;
    padding: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    vertical-align:middle
}
.bell{
    width: 40px;
    height: 40px;
    background-color: var(--wa-white);
    border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.search{
    background-color: var(--wa-dark-gray);
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-container{
    background-color: var(--wa-mid-gray);
    width: 95%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.chat-search-btn{
    border: none;
    background: transparent;
}
#chat-search-input{
    background: transparent;
    width: 80%;
    border: none;
    margin-left: 20px;
    color: var(--icon-gray);
}
#chat-search-input:focus{
    outline:none;
}
.contacs{
    background-color: var(--wa-dark-gray);
    width: 100%;
    height: calc(100% - 240px);
    overflow: auto;
    padding-top: 15px;
}
.side-chat-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.side-chat-img img{
    width: 100%;
}
.side-chat-last-msg,
.side-chat-hour{
    font-size: 12px;
    color: var(--wa-icon-gray);
}
.chat-item{
    padding: 15px;
    border-bottom: 1px solid var(--wa-light-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chat-item:hover{
    background-color: var(--wa-light-gray);
    cursor: pointer;
}
.active-chat{
    background-color: var(--wa-light-gray);

}


/* MAIN */
#main-chat{
    width: 65%;
    height: 100%;
    position: relative;
}
.main-header{
    width: 100%;
    height: 80px;
    background-color: var(--wa-mid-gray);
    position: absolute;
    top: 0;
    padding: 15px;
}
.chat{
    width: 100%;
    height: calc(100% - 160px);
    background-image: url(../img/mine.jpg);
    filter: invert();
    margin-top: 80px; 
    overflow: auto;

}
.conversations{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 20px 80px;
}
.chat-time{
    margin-left: 30px;
    padding-top: 10px;
    font-size: 10px;
    font-weight: bold;
    color: var(--wa-icon-gray);
    text-align: end;
}
.received{
    font-size: 14px;
    width: fit-content;
    border-radius: 8px;
    padding: 5px 10px;
    background-color: var(--wa-light-gray);
    align-self: flex-start;
    filter: invert();
    display: flex;
}
.received::before{
    content: '';
    position: absolute;
    top: 0;
    left: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(-135deg,var(--wa-light-gray) 0%,var(--wa-light-gray) 50%, transparent 50%,transparent);
}
.sent{
    font-size: 14px;
    width: fit-content;
    border-radius: 8px;
    padding: 5px 10px;
    background-color: var(--wa-chat-green);
    align-self: flex-end;
    filter: invert();
    display: flex;
}
.sent::before{
    content: '';
    position: absolute;
    top: 0;
    right: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(135deg,var(--wa-chat-green) 0%,var(--wa-chat-green) 50%, transparent 50%,transparent);
}
.main-footer{
    width: 100%;
    height: 80px;
    background-color: var(--wa-mid-gray);
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.footer-container{
    background-color: var(--wa-light-gray);
    width: 80%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#type-message-input{
    background: transparent;
    width: 90%;
    border: none;
    margin-left: 20px;
    color: var(--wa-icon-gray);
    /* word-wrap:break-word; */
    overflow-wrap: break-word;
}
#type-message-input:focus{
    outline:none;
}
/* RESPONSIVE */

 /* Desktop  */
 @media screen and (max-width:1200px) {
    
}   
 /* Tablet */
 @media screen and (max-width:768px) {
  
 }
 /* PHONE  */
 @media screen and (max-width:576px) {
   
}
 




